
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),
  url( <%= cl_image_path(@cocktail.photo.key, :opacity=>50, :quality=>49, :y=>652, :zoom=>1.6) %> );">
    <div class="container"><h1><%= @cocktail.name %></h1></div>
</div>

<div class="container">
  <h2 class="m-2">Ingredients:</h2>
  <% @cocktail.doses.each do |dose| %>
  <div class="justify-content m-2">
    <li><%= dose.description %> <%= dose.ingredient.name %>
      <%= link_to  dose_path(dose), method: :delete, data: {confirm: "Are you sure ?"} do %>
        <i class="fas fa-trash-alt"></i>
      <% end %>
    </div>
    </li>
    <!-- <%= link_to "Delete ingredient", dose_path(dose) ,method: :delete, data: { confirm: "Are you sure?" } %> -->
  <% end %>
  <div>
    <%= link_to "Add an ingredient", new_cocktail_dose_path(@cocktail) %>
  </div>


</div>


